<h1><%= @store.name %></h1>
<% @store.items.each do |item| %>
  
  <p><h2><a href="/items/<%= item.id %>"><%= item.name %></a></h2></p>

  <h2>Size: <%= item.size %></h2>
  <h2>Description: <%= item.description %></h2>
  <img style="height:300px;width:300px;" src=<%= item.images[0].image %>>
<% end %>
<%= form_tag "/store_subscriptions", method: :post do %>
  <input type="hidden" name="store_id" value="<%= @store.id %>">
  <input type="submit" class="btn btn-default" value="Subscribe">
<% end %>           