<div id="searchbar">
  <h2><%= @item.name %></h2>
  <h2>Size: <%= @item.size %></h2>
  <h2>Description: <%= @item.description %></h2>
  <img src=<%= @item.images[0].image %>>
  <p>Price: <%= @item.price %></p>

<%= form_tag "/carted_products", method: :post do %>
  <input type="hidden" name="item_id" value="<%= @item.id %>">
  <input type="submit" class="btn btn-default" value="Buy Now">
<% end %>  

<h2>Leave a Review</h2>                
<%= form_tag "/reviews", method: :post do %>
  <input type="hidden" name="item_id" value="<%= @item.id %>">
  <input type="text" name="body">
  <input type="submit" class="btn btn-default" value="Submit Review">
<% end %>  

<h2><u>Reviews</u></h2> 
<% @item.reviews.each do |review| %>
<p><h4><b><%= review.user.email %></b></h4></p>
  <p><h5><%= review.body %></h5></p>
<% end %>

</div>
