

<section class="fw-section">
 
          <!-- Content -->
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <!-- Category Tile -->
                <div class="tile tile-category">
                  <!--  -->
                  
                    <img style="height:500px;width:375px;"src="<%= @item.images[0].image %>" alt="">
                    </div>
                  </a>
                  <div>
                    <div class="tile-title"><%= @item.name %></div>
                    <div class="tile-title"><%= @item.size %></div>
                    <div class="tile-title"><%= @item.price %></div>
                  </div>

                </div><!-- Category Tile END -->
              </div>


<%= form_tag "/carted_products", method: :post do %>
  <input type="hidden" name="item_id" value="<%= @item.id %>">
  <input type="submit" class="btn btn-default" value="Buy Now">
<% end %>  

<h2>Leave a Review</h2>                
<%= form_tag "/reviews", method: :post do %>
  <input type="hidden" name="item_id" value="<%= @item.id %>">
  <input type="text" name="body">
  <input type="submit" class="btn btn-default" value="Submit Review">
<% end %>  

<h2><u>Reviews</u></h2> 
<% @item.reviews.each do |review| %>
<p><h4><b><%= review.user.email %></b></h4></p>
  <p><h5><%= review.body %></h5></p>
<% end %>

</div>
